<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Restoku</title>
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="./images/heros/logo.png">
</head>
<body>
  <a href="#content" class="skip-to-content">Skip to Content</a>

  <div class="appsbar">
    <a href="#" class="logo">
      <img src="./images/heros/logo.png" alt="logo restoku">
      Restoku
    </a>
    <nav>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <div class="hamburger-menu" id="toggleDrawer" tabindex="0" aria-label="Toggle Navigation Menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </nav>
    <aside class="nav_drawer" id="navDrawer">
      <ul>
        <a href="#" class="logo">
          <img src="./images/heros/logo.png" alt="logo restoku">
          <p>Restoku</p>
        </a>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </aside>
  </div>
  
  <div class="hero">
    <img src="./images/heros/hero-image_4.jpg" alt="Hero Image">
    <div class="overlay">
      <div class="text">Selamat Datang di Website Restoku</div>
    </div>
  </div>
  
  <div class="content" id="content">
    <h1>Daftar Restoran</h1>
    <div id="restaurantsList">
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 - Restoku by Ardian Wahyu Saputra</p>
    </div>
  </footer>
</body>
</html>
